//! **************************************************************************
// Written by: Map P.15xf on Fri Jan 18 20:38:38 2013
//! **************************************************************************

SCHEMATIC START;
COMP "clock" LOCATE = SITE "T9" LEVEL 1;
COMP "velocidad0" LOCATE = SITE "K2" LEVEL 1;
COMP "velocidad1" LOCATE = SITE "J4" LEVEL 1;
COMP "reset" LOCATE = SITE "K4" LEVEL 1;
COMP "rgb<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "rgb<1>" LOCATE = SITE "E7" LEVEL 1;
COMP "rgb<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "rgb<3>" LOCATE = SITE "A8" LEVEL 1;
COMP "rgb<4>" LOCATE = SITE "A5" LEVEL 1;
COMP "rgb<5>" LOCATE = SITE "C3" LEVEL 1;
COMP "rgb<6>" LOCATE = SITE "C8" LEVEL 1;
COMP "rgb<7>" LOCATE = SITE "D6" LEVEL 1;
COMP "rgb<8>" LOCATE = SITE "B1" LEVEL 1;
COMP "hsyncb" LOCATE = SITE "B7" LEVEL 1;
COMP "vsyncb" LOCATE = SITE "D8" LEVEL 1;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

